<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console Appender for logging to console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Loggers and Root configuration -->
    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="SAVE-TO-FILE" />
    </root>

    <!-- Optional: Customize logging for specific packages or classes -->
    <!-- <logger name="com.yourpackage" level="debug" /> -->
</configuration>
